section {
    flex: 1 0 auto;
    position: relative;
    width: 100%;
}

.intro_sec {
    height: calc(100vh - 60px);
    min-height: 700px;
    height: 100vh;
    margin-top: -60px;
}

.intro_sec .hero-image {
    width: 50%;
    height: 100%;
    min-height: 750px;
    scale: 80%;
    position: relative;
    background-size: cover;
    /* background-position: center; */
    background-position-x:left;
    background-position-y:bottom;
    filter: grayscale();
}

.intro_sec .intro {
    max-width: 500px;
    margin: 0 auto;
}

.intro_sec  h1 {
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 900;
}

.ac_btn {
    padding: 4px 19px;
    color: var(--secondary-color);
    position: relative;
    border: var(--secondary-color) 2px solid;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    cursor: pointer;
    border-radius: 0;
    margin-right: 20px;
}

#button_white {
    background: var(--secondary-color);
    color: var(--primary-color);
}

#button_white:hover {
    background: var(--bg-color);
    color: var(--secondary-color);
}